# Exam Prep

## Task 1: For loop syntax from 2 to 10

In [7]:
for i in range(2,11):
  print(i)

2
3
4
5
6
7
8
9
10

## Task 2: For loop in 0 to 20, print only even numbers

In [8]:
for i in range(0,21):
  if i % 2 == 0:
    print(i)

0
2
4
6
8
10
12
14
16
18
20

## Task 3: Explain the difference between integers and floats

In [9]:
# whole numbers - integers
a = 1
b = 2
print(type(a))
# decimal numbers - floats
c = 1.23
d = 4.22
print(type(d))

<class 'int'>
<class 'float'>

## Task 4: Convert a float number to integer -> converting an integer into float

In [10]:
a = 132.1
print(int(a)) # There's a loss of the 0.1!

b = 12
print(float(b))

132
12.0

## Task 5: How do you check if a number can be stored as an integer, or it needs to be stored as a float

In [12]:
a = 10.0
print(a)
print(int(a))

print(int(a) - a == 0.0) # True, so it can be stored

a = 12.4
print(int(a) - a == 0.0) # False so it can't be stored

# as a nicer code:
a = 13.111
if int(a) - a == 0.0:
  print("Can be stored", int(a))
else:
  print("Can't be stored without loosing some precision (", a, "isn't", int(a), ")")

10.0
10
True
False
Can't be stored without loosing some precision ( 13.111 isn't 13 )

## Task 6: Ask the user for their name

In [13]:
name = input("What's your name?")
print(name)

What's your name?Vitek
Vitek

## Task 7: Check how many letters the string has? Convert to lower case. Convert to upper case.

In [14]:
print(len(name))
print(name.lower())
print(name.upper())

5
vitek
VITEK

## Task 8: Print the first letter of that string. Last letter?

In [15]:
print(name[0])
print(name[-1])

V
k

## Task 9: Check if the first letter is upper case?

In [18]:
letter = name[0]

if letter == letter.upper():
  print("It was already uppercase!")
else:
  print("It was a lower case...")

It was already uppercase!

## Task 10: Load a text from a file ("alice.txt) into a variable.

In [0]:
file = open("sample_data/README.md", "r") # imagine there's alice.txt there instead
text = file.read()
file.close()

## Task 11: How many words are in the loaded text? (In this example assume that words are separated by " " space character)

In [20]:
words = text.split(" ")
print(len(words))

113

----- Take a pause

## Task 12: What is the difference between lists, dictionaries and tuples? Write examples for each.

In [29]:
my_list_1 = []
my_list_2 = ["a", "b", "carrot"]

my_tuple_1 = ()
my_tuple_2 = ("a", "b", "carrot")
# tuple can't be changed after it's creation

my_list_2[2] = "c"
print(my_list_2)

my_tuple_2[2] = "c" # Notice the error: "'tuple' object does not support item assignment"

['a', 'b', 'c']

TypeError: ignored

In [32]:
my_dict_1 = {}

my_dict_1 = {
    "a" : 10,
    "b" : 12
}

print("debug:",my_dict_1)

debug: {'a': 10, 'b': 12}

## Task 13: Start with an empty list. Add three items into it ("Dog", "God", "Godot"). Remove the second item in this list.

In [33]:
l = []
l.append("Dog")
l.append("God")
l.append("Godot")

del l[1]
print(l)

# also works:
#l.pop(1)
#print(l)

['Dog', 'Godot']

## Task 13b: Check if there is "Dog" in the list?

In [34]:
if "Dog" in l:
  print("It is!")

It is!

## Task 14: Create an empty dictionary. In a while loop, ask the user for two inputs (item and clue). Add this item and clue as an entry in the dictionary. (So that dictionary[item] points to the clue)

In [0]:
d = {}
while True:
  item = input("item pls")
  clue = input("clue pls")
  d[ item ] = clue

## Task 14b: Once the user enters "Please end this" as an item, end the while loop.

In [0]:
d = {}
while True:
  item = input("item pls")
  if item == "pls end this":
    break
  clue = input("clue pls")
  d[ item ] = clue

## Task 14c: After the loop is finished, print all pairs of items inside the dictionary.

In [24]:
d = {}
while True:
  item = input("item pls")
  if item == "pls end this":
    break
  clue = input("clue pls")
  d[ item ] = clue

print(list(d.keys()))

keys = d.keys()
for key in keys:
  print(key, " points to ", d[key])

item plsitem1
clue plsclue1
item plsitem2
clue plsclue2
item plspls end this
['item1', 'item2']
item1  points to  clue1
item2  points to  clue2

## Task 15: Write a function which will return the second item of a list. (Careful, the function should have an input and return the output)

In [0]:
def second_item(input_list):
  return input_list[1]

## Task 15b: Use this function for every item in a list. Print the results!

In [26]:
l = [
     [1,2,3], 
     ["a","b","c"],
     [1,2,3], 
    ]

# This would output:
# 2, "b", 2

for item in l:
  print(second_item(item))

2
b
2

## Task 16: Write a function which returns a larger of two numbers.

In [35]:
def larger_of_two(a, b):
  if a>b:
    return a
  else:
    return b

print("Larger of 10 and 20 is", larger_of_two(10,20))

Larger of 10 and 20 is 20

## Task 17: Write this as a condition (which evaluates into False of True): I want a red house which is cheaper than 100, or, a blue house cheaper than 200, or a gray house.


Assume you are getting new values for color and price.
Would I like this house?

In [36]:
color = "white" # assume that these can change 
price = 120 # assume that these can change

like = (color == "red" and price < 100) or (color == "blue" and price < 200) or (color == "gray")

print(like)

False