Task1: Print your name!

In [0]:
print("Vit Ruzicka")

Vit Ruzicka

Task 2: Using a for loop count to 5 ?

In [0]:
for i in range(5):
    print(i)

0
1
2
3
4

Task 3: How would you rewrite it to count from 3 to 23 ?

In [0]:
for i in range(3,23):
    print(i)

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22

Task 4: Write a function which checks if a number is odd

In [0]:
def is_odd(number):
    remainder = (number%2)
    return remainder == 1  # after dividing by 2 we still have 1 remaining

print("Is 3 odd?", is_odd(3))

Is 3 odd? True

Task 5: Write a function which selects a maximal number from a list, write the checking yourself

In [0]:
def maximal_number(input_list):
    biggest = input_list[0]
    for number in input_list:
        if number > biggest:
            biggest = number

    return biggest

def maximal_number_withIdx(input_list):
    biggest = input_list[0]
    idx = 0

    counter = 0
    for number in input_list:
        if number > biggest:
            biggest = number
            idx = counter # mark which one was the biggest num

        counter += 1
    return biggest, idx

m = maximal_number_withIdx([10,20,44,-2])
print("Maximal number is", m[0], "at position", m[1])

Maximal number is 44 at position 2

Task 6: Make a dictionary to translate 3 selected English words to Spanish. Use this dictionary to translate a word input by user – and if you don’t have this word in the dictionary print “UNK”

In [0]:
eng2esp = {}
eng2esp["potato"] = "patata"
eng2esp["cat"] = "gato"
eng2esp["dog"] = "perro"

word = "potato"

print("Translating word", word, "from English to Spanish:")
if word in eng2esp:
    print(eng2esp[word])
else:
    print("UNK")

Translating word potato from English to Spanish:
patata

Task 7: Load a text from a file and print it’s lengths (the number of characters)

In [0]:
textfile = open("text.txt", "r")

txt = textfile.read()

textfile.close()

print(txt)
print(len(txt))

Test test text text
And more lines
34

Task 8: Convert a string to lower case, strip it’s spaces (empty characters like “ “) and then give me the substring from the 5th to 10th place

In [0]:
string_sample = " This is a potato!   "

lower_string = string_sample.lower()
clean_string = lower_string.strip()

print(clean_string)

print(clean_string[5:10])

this is a potato!
is a

Task 9: Extract information from a string

Extract the name of the model (“potato”) 

Hint: You can split the string into list by for example “_” then you would be able to get the name easily 

Bonus: Extract also the number of layers (3) and units (128)

In [0]:
string_input = "model_potato_3layers_128units_griffLim"

as_list = string_input.split("_")

name = as_list[1]
layers = as_list[2][0:-6]
units = as_list[3][0:-5]

print(name, layers, units)

potato 3 128

Task 10: Check if a string contains a word “Alice”

In [0]:
string = "Alice in the Wunderlands!"

contains = "Alice" in string # this will be either True or False

print(contains)

True

Task 11: Check if a string is exactly “Alice”

In [0]:
string = "Alice in the Wunderlands!"
is_alice = "Alice" == string # this will be either True or False
print(is_alice)

string = "Alice"
is_alice = "Alice" == string # this will be either True or False
print(is_alice)

False
True

Task 12: Check how many times the string contains “Alice”

In [0]:
string = "Alice in the Wunderlands is Alice is Alice is ... ad absurdum"

count = string.count("Alice")
print("Contains", count)

Contains 3

Task 13: Write a class for point Hint: point should have x,y 

Hint: as a method it should be able to give you distance from <0,0>

In [0]:
import math
class Point():
    def __init__(self, initX = 0, initY = 0):
        self.x = initX
        self.y = initY

    def report(self):
        print("I am a point, at x =", self.x, ", y =", self.y)

    def distanceFromZero(self):
        return (math.sqrt(self.x*self.x + self.y*self.y ))

p1 = Point()
p1.report()
print(p1.distanceFromZero())

p2 = Point(1,1)
p2.report()
print(p2.distanceFromZero())

I am a point, at x = 0 , y = 0
0.0
I am a point, at x = 1 , y = 1
1.4142135623730951